class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :ahoy_opens<%= primary_key_type %> do |t|
      t.string :campaign, index: true
      t.string :token
    end

    unless column_exists?(:ahoy_messages, :campaign)
      add_column :ahoy_messages, :campaign, :string
    end

    unless index_exists?(:ahoy_messages, :campaign)
      add_index :ahoy_messages, :campaign
    end
  end
end
